.console-output {
  background: var(--background);
  color: var(--text-main);
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  padding: 1em;

  p {
    margin: 0;
  }

  p.left {
    text-align: left;
  }

  p.right {
    text-align: right;
  }

  p.center {
    text-align: center;
  }
}
